# Used Car Price Prediction
## 1) Problem Statement
- This data set comprises used cars sold on cardekho.com in India as well as important features of this cars.
- If user can predict the price of the car basex on given features.
- Prediction results can be used to give new seller the price suggestion based on market condition.

## 2) Data Collection
- The data is collected from scrapping from cardekho website
- The data consists 13 columns and 15411 rows

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from io import StringIO
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [13]:
url = 'https://raw.githubusercontent.com/manishkr1754/CarDekho_Used_Car_Price_Prediction/main/notebooks/data/cardekho_dataset.csv'
response = requests.get(url)
csv_data = StringIO(response.text)
df = pd.read_csv(csv_data,index_col=[0])

In [14]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

## Data Cleaning

In [10]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [11]:
# Removing unnecessary columns
df.drop(['brand','car_name'],axis= 1,inplace=True)

# Converting the data to CSV used for creating Pipeline

In [10]:
# df.to_csv('cars_data.csv',index=False)

In [8]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

### Checking different types of features

In [9]:
num_feature = [feature for feature in df.columns if df[feature].dtype !='O']
print(f'Number of numerical features : {len(num_feature)}')

cat_feature =  [feature for feature in df.columns if df[feature].dtype =='O']
print(f'Number of categorical features : {len(cat_feature)}')

descrete_feature =  [feature for feature in num_feature if len(df[feature].unique())<=25]
print(f'Number of descrete features : {len(descrete_feature)}')

continuous_feature =  [feature for feature in num_feature if feature  not in descrete_feature]
print(f'Number of Continuous features : {len(continuous_feature)}')

Number of numerical features : 7
Number of categorical features : 4
Number of descrete features : 2
Number of Continuous features : 5

## Splitting the data into Independent and dependent features

In [125]:
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'], axis=1)
y = df['selling_price']

In [126]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [127]:
y.head()

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

## Feature encosding and scalling

In [128]:
X['model'].head()

0        Alto
1       Grand
2         i20
3        Alto
4    Ecosport
Name: model, dtype: object

In [129]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [130]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [131]:
len(X['seller_type'].unique())

3

In [132]:
num_feature = X.select_dtypes(exclude="object").columns

In [133]:
num_feature

Index(['model', 'vehicle_age', 'km_driven', 'mileage', 'engine', 'max_power',
       'seats'],
      dtype='object')

## Creating column transformers

In [134]:
num_feature = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_feature = StandardScaler()
oh_transformer = OneHotEncoder(drop = 'first')

preprocessor = ColumnTransformer(
    transformers=[
        ('OneHotEncoder', oh_transformer, onehot_columns),
        ('StandardScaler', numeric_feature, num_feature)
    ],
    remainder='passthrough'
)

In [135]:
X = preprocessor.fit_transform(X)

In [136]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [137]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=35)
X_train.shape ,X_test.shape

((10787, 14), (4624, 14))

In [138]:
X_train

array([[ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.77931158, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.40519209, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.3208691 , -0.40302241],
       ...,
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06217472,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ..., -0.21696405,
        -0.16029788,  2.07344426]])

## Model Training

In [139]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error

In [140]:
# cretaing function for evaluating the model
def evaluation_metrics(true,predicted):
    mae = mean_absolute_error(true,predicted)
    r2 = r2_score(true,predicted)
    rmse = root_mean_squared_error(true,predicted)
    return mae,r2,rmse

In [141]:
models = {
    "LinearRegression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge":Ridge(),
    "KNeighborsRegressor":KNeighborsRegressor(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "RandomForestRegressor":RandomForestRegressor(),
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) #Training the model

    # Making prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_mae,train_r2,train_rmse = evaluation_metrics(y_train,y_train_pred)
    test_mae,test_r2,test_rmse= evaluation_metrics(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('\n')


    print('Model Performance Training Data')
    print(f"MAE {train_mae}")

    print(f'r2_score {train_r2}')
    print(f'rmse {train_rmse}' )


    print("---------------------------------")

    print('Model Performance Test Data')
    print(f"MAE {test_mae}")

    print(f'r2_score {test_r2}')
    print(f'rmse {test_rmse}')

    print('='*30)
    print('\n')

LinearRegression


Model Performance Training Data
MAE 270779.81488543027
r2_score 0.6116562212727126
rmse 565878.0305540715
---------------------------------
Model Performance Test Data
MAE 276938.38879960665
r2_score 0.6780009075266807
rmse 488337.9006585136
==============================


Lasso


Model Performance Training Data
MAE 270777.8246042308
r2_score 0.6116562170065947
rmse 565878.0336622742
---------------------------------
Model Performance Test Data
MAE 276935.9371362967
r2_score 0.6780015774446994
rmse 488337.39266557724
==============================


Ridge


Model Performance Training Data
MAE 270741.4320440292
r2_score 0.6116552625370721
rmse 565878.7290680312
---------------------------------
Model Performance Test Data
MAE 276874.48992399947
r2_score 0.6780211958628966
rmse 488322.5159574158
==============================


KNeighborsRegressor


Model Performance Training Data
MAE 91698.37767683323
r2_score 0.8718866961035199
rmse 325021.26251160697
---------------------------------
Model Performance Test Data
MAE 117040.25194636678
r2_score 0.8628896635459717
rmse 318660.4802292771
==============================


DecisionTreeRegressor


Model Performance Training Data
MAE 4430.131948950897
r2_score 0.9995882159532604
rmse 18426.778521546228
---------------------------------
Model Performance Test Data
MAE 133768.2291666667
r2_score 0.5248996764450766
rmse 593179.0048888223
==============================


RandomForestRegressor


Model Performance Training Data
MAE 40608.60008532818
r2_score 0.978729941141855
rmse 132433.84953528084
---------------------------------
Model Performance Test Data
MAE 105021.00344241975
r2_score 0.8316819728488476
rmse 353068.0541757702
==============================

## Initialising Hyperparameter

In [148]:
knn_param = {
    'n_neighbors': [3, 5, 7],
    'weights': ['uniform', 'distance']
}

rf_param = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

In [149]:
## Models list
ranmdomcv_model = [
    ("KNeighborsRegressor",KNeighborsRegressor(),knn_param),
    ("RandomForestRegressor",RandomForestRegressor(),rf_param)
]

In [150]:
from sklearn.model_selection import RandomizedSearchCV
model_params = {}

for name , model ,params in ranmdomcv_model:
    random = RandomizedSearchCV(estimator= model,
                                param_distributions = params,
                                n_iter = 100,
                                cv = 3,
                                verbose = 2,
                                n_jobs = -1)

    random.fit(X_train,y_train)
    model_params[name] = random.best_params_

for model_name in model_params:
    print(f"-----------------------Best Param For {model_name}---------------------")
    print(model_params[name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 36 candidates, totalling 108 fits
-----------------------Best Param For KNeighborsRegressor---------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_depth': 30}
-----------------------Best Param For RandomForestRegressor---------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_depth': 30}

In [156]:
models = {

    "KNeighborsRegressor":KNeighborsRegressor(n_neighbors =100, n_jobs=-1),
    "RandomForestRegressor":RandomForestRegressor(n_estimators=  100, max_depth=  30),
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train) #Training the model

    # Making prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_mae,train_r2,train_rmse = evaluation_metrics(y_train,y_train_pred)
    test_mae,test_r2,test_rmse= evaluation_metrics(y_test,y_test_pred)

    print(list(models.keys())[i])
    print('\n')


    print('Model Performance Training Data')
    print(f"MAE {train_mae}")

    print(f'r2_score {train_r2}')
    print(f'rmse {train_rmse}' )


    print("---------------------------------")

    print('Model Performance Test Data')
    print(f"MAE {test_mae}")

    print(f'r2_score {test_r2}')
    print(f'rmse {test_rmse}')

    print('='*30)
    print('\n')

KNeighborsRegressor


Model Performance Training Data
MAE 154182.61240381942
r2_score 0.668363721141268
rmse 522932.54837805405
---------------------------------
Model Performance Test Data
MAE 159949.60315743944
r2_score 0.760203445769631
rmse 421419.4511171654
==============================


RandomForestRegressor


Model Performance Training Data
MAE 40443.67220717953
r2_score 0.9768772022953907
rmse 138081.2936319081
---------------------------------
Model Performance Test Data
MAE 104588.78786735046
r2_score 0.8408279672286445
rmse 343341.6495566584
==============================